.container {
    display: flex;
    background-color: black;
    padding: 8px;
    height: 140px;
    border-radius: 4px;
}

.duration {
    background-color: black;
    border-radius: 5px;
    padding: 2px;
    color: white;
    position: absolute;
    top: 130px;
    left: 218px;
    opacity: 0.8;
}

.img>img {
    border-radius: 10px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    margin: 6px;
    color: white;
}

.details {
    color: gray;
    font-size: 15px;
    margin: 6px;
    margin-top: 12px;
}

